<div class="row ">
  <div class="col-sm-6">
    <h2>I'm Aarya !</h2>
  </div>
  <div class="col-sm-6">
    <img src="Aarya.jpg" alt="Smiley face" height="100" width="120">
  </div>

  <div class="col-sm-12 justify">
    <h3>Welcome to my JS blog !</h3>
    <p> I love drawing ! Whether it be for friends, famiily or for myself, I feel I can express anything I wish just through a simple picture. </p>
    <p>I more recently (a couple of years ago) started drawing comic strips. These are very simple, and generally illustrate one aspect of my life, a specific day or a specific event. It's a really simple and fun way to share my life with the people I care for. </p>

    <p> I hope you enjy reading my comics as much as I enjoy writing them ! </p>
  </div>
</div>
