<div class="row row-toppad">

  <div class="col-sm-12">
    <h3>Menu</h3>
    <div class="container-fluid">
      <ul id="side-link">
        <li><a href="/">Home</a></li>
        <li><a href="/uploader">Upload Pic</a></li>
        <li><a href="/gallery">Gallerie</a></li>
          <ol>
            <li> <a href="/gallery/Au Quotidien">Au Quotidien</a> </li>
            <li> <a href="/gallery/La League">La League</a> </li>
          </ol>
      </ul>
    </div>
  </div>

</div>
