<h3>Menu</h3>
<div class="container-fluid">
  <ul id="side-link">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Aryana</a></li>
    <li><a href="/album">Upload Pic</a></li>
    <li><a href="/gallery">Gallerie</a></li>
  </ul>
</div>
