<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Aryana</a></li>
          <li><a href="/album">Mes albums</a></li>
        </ul>

    </div>
</nav>
