<!DOCTYPE html>

<html>

  <head>
  <title>Blog Dessin</title>
    <style>
      a {text-decoration: none; color: black;}
    </style>
  </head>

  <body>
    <h1>Home Page</h1>
    <p> ceci est la page d'accueil de mon blog </p>
  </body>

</html>
