<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
<!--     <link href="css/styles.css" rel="stylesheet"> -->
</head>
<body class="container">

  <header>
    <% include ../partials/topbar %>
  </header>

  <main>
    <div class="row">

      <div class="col-sm-4">
        <div class="well">
           <% include ../partials/sidebar %>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="jumbotron">
          <h1>This is Aarya !</h1>
          <h2>Welcome to my first JS website !</h3>
          <p>Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla.
          </p>
          <p>Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla. Blab bla bla bla blablablabla bla.
          </p>
        </div>
      </div>

    </div>

 <!-- <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascripts/upload.js"></script> -->

  </main>

  <footer>
      <% include ../partials/footer %>
  </footer>

</body>
</html>



