<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">
  <header>
    <% include ../partials/topbar %>
  </header>

  <main>
    <div class="row">

      <div class="col-sm-4">
        <div class="well">
          <h3>Look I'm A Sidebar!</h3>
          <% include ../partials/sidebar %>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="jumbotron">
            <h1> Album </h1>

            <h1>Ma todolist album</h1>
            <ul>
            <% albumlist.forEach(function(photo, index) { %>
                <li><a href="/album/supprimer/<%= index %>">✘</a> <%= photo %></li>
            <% }); %>
            </ul>

            <form action="/album/ajouter/" method="post">
                <p>
                  <!-- remplacer le texte par des images -->
                  <label for="newalbumphoto">quelle photo ?</label>
                  <input type="text" name="newalbumphoto" id="newalbumphoto" autofocus />
                  <input type="submit" />
                </p>
            </form>

        </div>
      </div>

    </div>
  </main>

  <footer>
      <% include ../partials/footer %>
  </footer>

</body>
</html>
